<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.activity.snhs">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SNHS">
        <activity
            android:name=".Whlp.whlp10.Quarter.Second"
            android:exported="false" />
        <activity
            android:name=".Whlp.whlp10.Quarter.First"
            android:exported="false" />
        <activity
            android:name=".Whlp.whlp8.Quarter.Second"
            android:exported="false" />
        <activity
            android:name=".Whlp.whlp8.Quarter.First"
            android:exported="false" />
        <activity
            android:name=".Whlp.whlp7.Quarter.Second"
            android:exported="false" />
        <activity
            android:name=".Whlp.whlp7.Quarter.First"
            android:exported="false" />
        <activity
            android:name=".Whlp.whlp9.first.Whlp9Second"
            android:exported="false" />
        <activity
            android:name=".Whlp.whlp9.first.Week1"
            android:exported="false" />
        <activity
            android:name=".Whlp.whlp10.SecondWhlp10"
            android:exported="false" />
        <activity
            android:name=".Whlp.whlp10.FirstWhlp10"
            android:exported="false" />
        <activity
            android:name=".Whlp.whlp9.SecondWhlp9"
            android:exported="false" />
        <activity
            android:name=".Whlp.whlp9.FirstWhlp9"
            android:exported="false" />
        <activity
            android:name=".Whlp.whlp8.SecondWhlp8"
            android:exported="false" />
        <activity
            android:name=".Whlp.whlp8.FirstWhlp8"
            android:exported="false" />
        <activity
            android:name=".Whlp.whlp7.SecondWhlp7"
            android:exported="false" />
        <activity
            android:name=".Whlp.whlp7.FirstWhlp7"
            android:exported="false" />
        <activity
            android:name=".Whlp.grade10"
            android:exported="false" />
        <activity
            android:name=".Whlp.grade9"
            android:exported="false" />
        <activity
            android:name=".Whlp.grade8"
            android:exported="false" />
        <activity
            android:name=".Whlp.grade7"
            android:exported="false" />
        <activity
            android:name=".Whlp.Whlp"
            android:exported="false" />
        <activity
            android:name=".Teachers.EnglishTeachers"
            android:exported="false" />
        <activity
            android:name=".Teachers.MapehTeachers"
            android:exported="false" />
        <activity
            android:name=".Teachers.FilipinoTeachers"
            android:exported="false" />
        <activity
            android:name=".Teachers.TleTeachers"
            android:exported="false" />
        <activity
            android:name=".Teachers.EspTeachers"
            android:exported="false" />
        <activity
            android:name=".Teachers.ScienceTeachers"
            android:exported="false" />
        <activity
            android:name=".Teachers.MathTeachers"
            android:exported="false" />
        <activity
            android:name=".Teachers.ApTeachers"
            android:exported="false" />
        <activity
            android:name=".About"
            android:exported="false" />
        <activity
            android:name=".TeacherActivity"
            android:exported="false" />
        <activity
            android:name=".Grade10.TLE.Drafting.Quarter4"
            android:exported="false" />
        <activity
            android:name=".Grade10.TLE.Drafting.Quarter3"
            android:exported="false" />
        <activity
            android:name=".Grade10.TLE.Drafting.Quarter2"
            android:exported="false" />
        <activity
            android:name=".Grade10.TLE.Drafting.Quarter1"
            android:exported="false" />
        <activity
            android:name=".Grade10.TLE.Drafting.DraftingActivity"
            android:exported="false" />
        <activity
            android:name=".Grade10.TLE.CSS.Quarter4"
            android:exported="false" />
        <activity
            android:name=".Grade10.TLE.CSS.Quarter3"
            android:exported="false" />
        <activity
            android:name=".Grade10.TLE.CSS.Quarter2"
            android:exported="false" />
        <activity
            android:name=".Grade10.TLE.CSS.Quarter1"
            android:exported="false" />
        <activity
            android:name=".Grade10.TLE.CSS.CssActivity"
            android:exported="false" />
        <activity
            android:name=".Grade10.TLE.Cookery.Quarter4"
            android:exported="false" />
        <activity
            android:name=".Grade10.TLE.Cookery.Quarter3"
            android:exported="false" />
        <activity
            android:name=".Grade10.TLE.Cookery.Quarter2"
            android:exported="false" />
        <activity
            android:name=".Grade10.TLE.Cookery.Quarter1"
            android:exported="false" />
        <activity
            android:name=".Grade10.TLE.Cookery.CookeryActivity"
            android:exported="false" />
        <activity
            android:name=".Grade10.Science.Quarter4"
            android:exported="false" />
        <activity
            android:name=".Grade10.Science.Quarter3"
            android:exported="false" />
        <activity
            android:name=".Grade10.Science.Quarter2"
            android:exported="false" />
        <activity
            android:name=".Grade10.Science.Quarter1"
            android:exported="false" />
        <activity
            android:name=".Grade10.Science.ScienceActivity"
            android:exported="false" />
        <activity
            android:name=".Grade10.Math.Quarter4"
            android:exported="false" />
        <activity
            android:name=".Grade10.Math.Quarter3"
            android:exported="false" />
        <activity
            android:name=".Grade10.Math.Quarter2"
            android:exported="false" />
        <activity
            android:name=".Grade10.Math.Quarter1"
            android:exported="false" />
        <activity
            android:name=".Grade10.Math.MathActivity"
            android:exported="false" />
        <activity
            android:name=".Grade10.MAPEH.PE.Quarter4"
            android:exported="false" />
        <activity
            android:name=".Grade10.MAPEH.PE.Quarter3"
            android:exported="false" />
        <activity
            android:name=".Grade10.MAPEH.PE.Quarter2"
            android:exported="false" />
        <activity
            android:name=".Grade10.MAPEH.PE.Quarter1"
            android:exported="false" />
        <activity
            android:name=".Grade10.MAPEH.PE.PEActivity"
            android:exported="false" />
        <activity
            android:name=".Grade10.MAPEH.Music.Quarter4"
            android:exported="false" />
        <activity
            android:name=".Grade10.MAPEH.Music.Quarter3"
            android:exported="false" />
        <activity
            android:name=".Grade10.MAPEH.Music.Quarter2"
            android:exported="false" />
        <activity
            android:name=".Grade10.MAPEH.Music.Quarter1"
            android:exported="false" />
        <activity
            android:name=".Grade10.MAPEH.Music.MusicActivity"
            android:exported="false" />
        <activity
            android:name=".Grade10.MAPEH.Health.Quarter4"
            android:exported="false" />
        <activity
            android:name=".Grade10.MAPEH.Health.Quarter3"
            android:exported="false" />
        <activity
            android:name=".Grade10.MAPEH.Health.Quarter1"
            android:exported="false" />
        <activity
            android:name=".Grade10.MAPEH.Health.Quarter2"
            android:exported="false" />
        <activity
            android:name=".Grade10.MAPEH.Health.HealthActivity"
            android:exported="false" />
        <activity
            android:name=".Grade10.MAPEH.Arts.Quarter4"
            android:exported="false" />
        <activity
            android:name=".Grade10.MAPEH.Arts.Quarter3"
            android:exported="false" />
        <activity
            android:name=".Grade10.MAPEH.Arts.Quarter2"
            android:exported="false" />
        <activity
            android:name=".Grade10.MAPEH.Arts.Quarter1"
            android:exported="false" />
        <activity
            android:name=".Grade10.MAPEH.Arts.ArtsActivity"
            android:exported="false" />
        <activity
            android:name=".Grade10.Filipino.Quarter4"
            android:exported="false" />
        <activity
            android:name=".Grade10.Filipino.Quarter3"
            android:exported="false" />
        <activity
            android:name=".Grade10.Filipino.Quarter2"
            android:exported="false" />
        <activity
            android:name=".Grade10.Filipino.Quarter1"
            android:exported="false" />
        <activity
            android:name=".Grade10.Filipino.FilipinoActivity"
            android:exported="false" />
        <activity
            android:name=".Grade10.Esp.Quarter4"
            android:exported="false" />
        <activity
            android:name=".Grade10.Esp.Quarter3"
            android:exported="false" />
        <activity
            android:name=".Grade10.Esp.Quarter2"
            android:exported="false" />
        <activity
            android:name=".Grade10.Esp.Quarter1"
            android:exported="false" />
        <activity
            android:name=".Grade10.Esp.EspActivity"
            android:exported="false" />
        <activity
            android:name=".Grade10.English.Quarter4"
            android:exported="false" />
        <activity
            android:name=".Grade10.English.Quarter3"
            android:exported="false" />
        <activity
            android:name=".Grade10.English.Quarter2"
            android:exported="false" />
        <activity
            android:name=".Grade10.English.Quarter1"
            android:exported="false" />
        <activity
            android:name=".Grade10.English.EnglishActivity"
            android:exported="false" />
        <activity
            android:name=".Grade10.AP.Quarter4"
            android:exported="false" />
        <activity
            android:name=".Grade10.AP.Quarter3"
            android:exported="false" />
        <activity
            android:name=".Grade10.AP.Quarter2"
            android:exported="false" />
        <activity
            android:name=".Grade10.AP.Quarter1"
            android:exported="false" />
        <activity
            android:name=".Grade10.AP.ApActivity"
            android:exported="false" />
        <activity
            android:name=".Grade8.TLE.Quarter4"
            android:exported="false" />
        <activity
            android:name=".Grade8.TLE.Quarter3"
            android:exported="false" />
        <activity
            android:name=".Grade8.TLE.Quarter2"
            android:exported="false" />
        <activity
            android:name=".Grade8.TLE.Quarter1"
            android:exported="false" />
        <activity
            android:name=".Grade8.TLE.TleActivity"
            android:exported="false" />
        <activity
            android:name=".Grade8.Science.Quarter4"
            android:exported="false" />
        <activity
            android:name=".Grade8.Science.Quarter3"
            android:exported="false" />
        <activity
            android:name=".Grade8.Science.Quarter2"
            android:exported="false" />
        <activity
            android:name=".Grade8.Science.Quarter1"
            android:exported="false" />
        <activity
            android:name=".Grade8.Science.ScienceActivity"
            android:exported="false" />
        <activity
            android:name=".Grade8.Math.Quarter4"
            android:exported="false" />
        <activity
            android:name=".Grade8.Math.Quarter3"
            android:exported="false" />
        <activity
            android:name=".Grade8.Math.Quarter2"
            android:exported="false" />
        <activity
            android:name=".Grade8.Math.Quarter1"
            android:exported="false" />
        <activity
            android:name=".Grade8.Math.MathActivity"
            android:exported="false" />
        <activity
            android:name=".Grade8.MAPEH.PE.Quarter4"
            android:exported="false" />
        <activity
            android:name=".Grade8.MAPEH.PE.Quarter3"
            android:exported="false" />
        <activity
            android:name=".Grade8.MAPEH.PE.Quarter2"
            android:exported="false" />
        <activity
            android:name=".Grade8.MAPEH.PE.Quarter1"
            android:exported="false" />
        <activity
            android:name=".Grade8.MAPEH.PE.PEActivity"
            android:exported="false" />
        <activity
            android:name=".Grade8.MAPEH.Music.Quarter4"
            android:exported="false" />
        <activity
            android:name=".Grade8.MAPEH.Music.Quarter3"
            android:exported="false" />
        <activity
            android:name=".Grade8.MAPEH.Music.Quarter2"
            android:exported="false" />
        <activity
            android:name=".Grade8.MAPEH.Music.Quarter1"
            android:exported="false" />
        <activity
            android:name=".Grade8.MAPEH.Music.MusicActivity"
            android:exported="false" />
        <activity
            android:name=".Grade8.MAPEH.Health.Quarter4"
            android:exported="false" />
        <activity
            android:name=".Grade8.MAPEH.Health.Quarter3"
            android:exported="false" />
        <activity
            android:name=".Grade8.MAPEH.Health.Quarter2"
            android:exported="false" />
        <activity
            android:name=".Grade8.MAPEH.Health.Quarter1"
            android:exported="false" />
        <activity
            android:name=".Grade8.MAPEH.Health.HealthActivity"
            android:exported="false" />
        <activity
            android:name=".Grade8.MAPEH.Arts.ArtsActivity"
            android:exported="false" />
        <activity
            android:name=".Grade8.MAPEH.Arts.Quarter4"
            android:exported="false" />
        <activity
            android:name=".Grade8.MAPEH.Arts.Quarter3"
            android:exported="false" />
        <activity
            android:name=".Grade8.MAPEH.Arts.Quarter2"
            android:exported="false" />
        <activity
            android:name=".Grade8.MAPEH.Arts.Quarter1"
            android:exported="false" />
        <activity
            android:name=".Grade8.Filipino.Quarter4"
            android:exported="false" />
        <activity
            android:name=".Grade8.Filipino.Quarter3"
            android:exported="false" />
        <activity
            android:name=".Grade8.Filipino.Quarter2"
            android:exported="false" />
        <activity
            android:name=".Grade8.Filipino.Quarter1"
            android:exported="false" />
        <activity
            android:name=".Grade8.Filipino.FilipinoActivity"
            android:exported="false" />
        <activity
            android:name=".Grade8.ESP.Quarter4"
            android:exported="false" />
        <activity
            android:name=".Grade8.ESP.Quarter3"
            android:exported="false" />
        <activity
            android:name=".Grade8.ESP.Quarter2"
            android:exported="false" />
        <activity
            android:name=".Grade8.ESP.Quarter1"
            android:exported="false" />
        <activity
            android:name=".Grade8.ESP.EspActivity"
            android:exported="false" />
        <activity
            android:name=".Grade8.English.Quarter4"
            android:exported="false" />
        <activity
            android:name=".Grade8.English.Quarter3"
            android:exported="false" />
        <activity
            android:name=".Grade8.English.Quarter2"
            android:exported="false" />
        <activity
            android:name=".Grade8.English.Quarter1"
            android:exported="false" />
        <activity
            android:name=".Grade8.English.EnglishActivity"
            android:exported="false" />
        <activity
            android:name=".Grade8.AP.Quarter4"
            android:exported="false" />
        <activity
            android:name=".Grade8.AP.Quarter3"
            android:exported="false" />
        <activity
            android:name=".Grade8.AP.Quarter2"
            android:exported="false" />
        <activity
            android:name=".Grade8.AP.Quarter1"
            android:exported="false" />
        <activity
            android:name=".Grade8.AP.ApActivity"
            android:exported="false" />
        <activity
            android:name=".Grade7.TLE.TleActivity"
            android:exported="false" />
        <activity
            android:name=".Grade7.TLE.Quarter4"
            android:exported="false" />
        <activity
            android:name=".Grade7.TLE.Quarter3"
            android:exported="false" />
        <activity
            android:name=".Grade7.TLE.Quarter2"
            android:exported="false" />
        <activity
            android:name=".Grade7.TLE.Quarter1"
            android:exported="false" />
        <activity
            android:name=".Grade7.Science.ScienceActivity"
            android:exported="false" />
        <activity
            android:name=".Grade7.Math.MathActivity"
            android:exported="false" />
        <activity
            android:name=".Grade7.MAPEH.PE.PEActivity"
            android:exported="false" />
        <activity
            android:name=".Grade7.MAPEH.Music.MusicActivity"
            android:exported="false" />
        <activity
            android:name=".Grade7.MAPEH.Health.HealthActivity"
            android:exported="false" />
        <activity
            android:name=".Grade7.MAPEH.Arts.ArtsActivity"
            android:exported="false" />
        <activity
            android:name=".Grade7.Filipino.FilipinoActivity"
            android:exported="false" />
        <activity
            android:name=".Grade7.ESP.EspActivity"
            android:exported="false" />
        <activity
            android:name=".Grade7.English.EnglishActivity"
            android:exported="false" />
        <activity
            android:name=".Grade7.AP.ApActivity"
            android:exported="false" />
        <activity
            android:name=".Grade7.MAPEH.PE.Quarter4"
            android:exported="false" />
        <activity
            android:name=".Grade7.MAPEH.PE.Quarter3"
            android:exported="false" />
        <activity
            android:name=".Grade7.MAPEH.PE.Quarter2"
            android:exported="false" />
        <activity
            android:name=".Grade7.MAPEH.PE.Quarter1"
            android:exported="false" />
        <activity
            android:name=".Grade7.MAPEH.Music.Quarter4"
            android:exported="false" />
        <activity
            android:name=".Grade7.MAPEH.Music.Quarter3"
            android:exported="false" />
        <activity
            android:name=".Grade7.MAPEH.Music.Quarter2"
            android:exported="false" />
        <activity
            android:name=".Grade7.MAPEH.Music.Quarter1"
            android:exported="false" />
        <activity
            android:name=".Grade7.MAPEH.Health.Quarter4"
            android:exported="false" />
        <activity
            android:name=".Grade7.MAPEH.Health.Quarter3"
            android:exported="false" />
        <activity
            android:name=".Grade7.MAPEH.Health.Quarter2"
            android:exported="false" />
        <activity
            android:name=".Grade7.MAPEH.Health.Quarter1"
            android:exported="false" />
        <activity
            android:name=".Grade7.MAPEH.Arts.Quarter4"
            android:exported="false" />
        <activity
            android:name=".Grade7.MAPEH.Arts.Quarter3"
            android:exported="false" />
        <activity
            android:name=".Grade7.MAPEH.Arts.Quarter2"
            android:exported="false" />
        <activity
            android:name=".Grade7.MAPEH.Arts.Quarter1"
            android:exported="false" />
        <activity
            android:name=".Grade7.ESP.Quarter4"
            android:exported="false" />
        <activity
            android:name=".Grade7.ESP.Quarter3"
            android:exported="false" />
        <activity
            android:name=".Grade7.ESP.Quarter2"
            android:exported="false" />
        <activity
            android:name=".Grade7.ESP.Quarter1"
            android:exported="false" />
        <activity
            android:name=".Grade10.MainActivity4"
            android:exported="false" />
        <activity
            android:name=".Grade8.MainActivity2"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Grade9.TLE.Drafting.DraftingActivity"
            android:exported="false" />
        <activity
            android:name=".Grade9.TLE.CSS.CssActivity"
            android:exported="false" />
        <activity
            android:name=".Grade9.TLE.Cookery.CookeryActivity"
            android:exported="false" />
        <activity
            android:name=".Grade9.Science.ScienceActivity"
            android:exported="false" />
        <activity
            android:name=".Grade9.Math.MathActivity"
            android:exported="false" />
        <activity
            android:name=".Grade9.MAPEH.PE.PEActivity"
            android:exported="false" />
        <activity
            android:name=".Grade9.MAPEH.Music.MusicActivity"
            android:exported="false" />
        <activity
            android:name=".Grade9.MAPEH.Health.HealthActivity"
            android:exported="false" />
        <activity
            android:name=".Grade9.MAPEH.Arts.ArtsActivity"
            android:exported="false" />
        <activity
            android:name=".Grade9.Filipino.FilActivity"
            android:exported="false" />
        <activity
            android:name=".Grade9.ESP.Quarter4"
            android:exported="false" />
        <activity
            android:name=".Grade9.ESP.Quarter3"
            android:exported="false" />
        <activity
            android:name=".Grade9.ESP.Quarter2"
            android:exported="false" />
        <activity
            android:name=".Grade9.ESP.Quarter1"
            android:exported="false" />
        <activity
            android:name=".Grade9.ESP.EspActivity"
            android:exported="false" />
        <activity
            android:name=".Grade9.English.EnglishActivity"
            android:exported="false" />
        <activity
            android:name=".Grade9.AP.ApActivity"
            android:exported="false" />
        <activity
            android:name=".Grade9.MAPEH.PE.Quarter4"
            android:exported="false" />
        <activity
            android:name=".Grade9.MAPEH.PE.Quarter3"
            android:exported="false" />
        <activity
            android:name=".Grade9.MAPEH.PE.Quarter2"
            android:exported="false" />
        <activity
            android:name=".Grade9.MAPEH.PE.Quarter1"
            android:exported="false" />
        <activity
            android:name=".Grade9.MAPEH.Music.Quarter4"
            android:exported="false" />
        <activity
            android:name=".Grade9.MAPEH.Music.Quarter3"
            android:exported="false" />
        <activity
            android:name=".Grade9.MAPEH.Music.Quarter2"
            android:exported="false" />
        <activity
            android:name=".Grade9.MAPEH.Music.Quarter1"
            android:exported="false" />
        <activity
            android:name=".Grade9.MAPEH.Health.Quarter4"
            android:exported="false" />
        <activity
            android:name=".Grade9.MAPEH.Health.Quarter3"
            android:exported="false" />
        <activity
            android:name=".Grade9.MAPEH.Health.Quarter2"
            android:exported="false" />
        <activity
            android:name=".Grade9.MAPEH.Health.Quarter1"
            android:exported="false" />
        <activity
            android:name=".Grade9.MAPEH.Arts.Quarter4"
            android:exported="false" />
        <activity
            android:name=".Grade9.MAPEH.Arts.Quarter3"
            android:exported="false" />
        <activity
            android:name=".Grade9.MAPEH.Arts.Quarter2"
            android:exported="false" />
        <activity
            android:name=".Grade9.MAPEH.Arts.Quarter1"
            android:exported="false" />
        <activity
            android:name=".Grade9.TLE.Drafting.Quarter4"
            android:exported="false" />
        <activity
            android:name=".Grade9.TLE.Drafting.Quarter3"
            android:exported="false" />
        <activity
            android:name=".Grade9.TLE.Drafting.Quarter2"
            android:exported="false" />
        <activity
            android:name=".Grade9.TLE.Drafting.Quarter1"
            android:exported="false" />
        <activity
            android:name=".Grade9.TLE.CSS.Quarter4"
            android:exported="false" />
        <activity
            android:name=".Grade9.TLE.CSS.Quarter3"
            android:exported="false" />
        <activity
            android:name=".Grade9.TLE.CSS.Quarter2"
            android:exported="false" />
        <activity
            android:name=".Grade9.TLE.CSS.Quarter1"
            android:exported="false" />
        <activity
            android:name=".Grade9.TLE.Cookery.Quarter4"
            android:exported="false" />
        <activity
            android:name=".Grade9.TLE.Cookery.Quarter3"
            android:exported="false" />
        <activity
            android:name=".Grade9.TLE.Cookery.Quarter2"
            android:exported="false" />
        <activity
            android:name=".Grade9.TLE.Cookery.Quarter1"
            android:exported="false" />
        <activity
            android:name=".Grade9.Science.Quarter4"
            android:exported="false" />
        <activity
            android:name=".Grade9.Science.Quarter3"
            android:exported="false" />
        <activity
            android:name=".Grade9.Science.Quarter2"
            android:exported="false" />
        <activity
            android:name=".Grade9.Science.Quarter1"
            android:exported="false" />
        <activity
            android:name=".Grade9.Math.Quarter4"
            android:exported="false" />
        <activity
            android:name=".Grade9.Math.Quarter3"
            android:exported="false" />
        <activity
            android:name=".Grade9.Math.Quarter2"
            android:exported="false" />
        <activity
            android:name=".Grade9.Math.Quarter1"
            android:exported="false" />
        <activity
            android:name=".Grade9.Filipino.Quarter4"
            android:exported="false" />
        <activity
            android:name=".Grade9.Filipino.Quarter3"
            android:exported="false" />
        <activity
            android:name=".Grade9.Filipino.Quarter2"
            android:exported="false" />
        <activity
            android:name=".Grade9.Filipino.Quarter1"
            android:exported="false" />
        <activity
            android:name=".Grade9.English.Quarter4"
            android:exported="false" />
        <activity
            android:name=".Grade9.English.Quarter3"
            android:exported="false" />
        <activity
            android:name=".Grade9.English.Quarter2"
            android:exported="false" />
        <activity
            android:name=".Grade9.English.Quarter1"
            android:exported="false" />
        <activity
            android:name=".Grade9.AP.Quarter4"
            android:exported="false" />
        <activity
            android:name=".Grade9.AP.Quarter3"
            android:exported="false" />
        <activity
            android:name=".Grade9.AP.Quarter2"
            android:exported="false" />
        <activity
            android:name=".Grade9.AP.Quarter1"
            android:exported="false" />
        <activity
            android:name=".Grade9.MainActivity3"
            android:exported="false" />
        <activity
            android:name=".Grade7.Science.Quarter4"
            android:exported="false" />
        <activity
            android:name=".Grade7.Science.Quarter3"
            android:exported="false" />
        <activity
            android:name=".Grade7.Science.Quarter2"
            android:exported="false" />
        <activity
            android:name=".Grade7.Science.Quarter1"
            android:exported="false" />
        <activity
            android:name=".Grade7.Math.Quarter4"
            android:exported="false" />
        <activity
            android:name=".Grade7.Math.Quarter3"
            android:exported="false" />
        <activity
            android:name=".Grade7.Math.Quarter2"
            android:exported="false" />
        <activity
            android:name=".Grade7.Math.Quarter1"
            android:exported="false" />
        <activity
            android:name=".Grade7.Filipino.Quarter4"
            android:exported="false" />
        <activity
            android:name=".Grade7.Filipino.Quarter3"
            android:exported="false" />
        <activity
            android:name=".Grade7.Filipino.Quarter2"
            android:exported="false" />
        <activity
            android:name=".Grade7.Filipino.Quarter1"
            android:exported="false" />
        <activity
            android:name=".Grade7.English.Quarter4"
            android:exported="false" />
        <activity
            android:name=".Grade7.English.Quarter3"
            android:exported="false" />
        <activity
            android:name=".Grade7.English.Quarter2"
            android:exported="false" />
        <activity
            android:name=".Grade7.AP.Quarter4"
            android:exported="false" />
        <activity
            android:name=".Grade7.AP.Quarter3"
            android:exported="false" />
        <activity
            android:name=".Grade7.AP.Quarter2"
            android:exported="false" />
        <activity
            android:name=".Grade7.AP.Quarter1"
            android:exported="false" />
        <activity
            android:name=".Grade7.English.Quarter1"
            android:exported="false" />
        <activity
            android:name=".Grade7.MainActivity1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>